h5 {
  text-align: center;
}

h1 {
  padding-top: 20px;
  position: relative;
  text-align: center;
  font-size: 50px;
  color: white;
  margin: 0 auto;
}

h2 {
  position: relative;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  opacity: 5px;
  font-size: 15px;
  color: white;
  top: -20px;
}

#search-text-input {
  width: 40%;
  margin: 0 auto;
}
#weather {
  position: relative;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  text-decoration: none;
}
#weatherToday {
  position: relative;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  font-size: 50px;
  text-decoration: none;
}
#temperature-description {
  position: relative;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
}

#temperature {
  font-size: 60px;
}

#icon {
  position: relative;
  padding: 0px;
  margin: 0 auto;
  font-size: 15px;
  text-decoration: none;
  top: -200px;
  left: -220px;
  max-height: 100%;
  max-width: 100%;
}
form {
  margin: 20px;
  padding: 20px;
}
.card {
  background: rgba(223, 236, 223, 0.2);
  text-align: center;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
.btn-light {
  background: rgba(223, 236, 223, 0.2);
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.175);
  padding: 3px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.btn-light:hover {
  background-color: #e0e8ea;
}
.feelTemp {
  position: relative;
  top: -90px;
  right: -60px;
  font-size: 15px;
}
.buttonLocation {
  background: rgba(223, 236, 223, 0.2);
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.175);
  padding: 3px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.buttonTheme {
  background: rgba(223, 236, 223, 0.2);
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.175);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.buttonLocation:hover {
  background-color: #e0e8ea;
}

.buttonTheme:hover {
  background-color: #e0e8ea;
}
.card-img-top {
  width: 48px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.col {
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.colDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  gap: 2px;
}
.card {
  font-weight: 100;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}

.card-text {
  text-align: center;
}

body {
  background-image: url(Images/clouds.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rowcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -190px;
  flex-direction: row-reverse;
  position: relative;
  margin: 0 auto;

  border-radius: 10px;
  padding: 10px;
}
.values {
  color: white;
  font-size: bold;
}

#valueHumidity {
  color: black;
  font-size: bold;
}
#valueSunset {
  color: black;
  font-size: bold;
}
#valueSunrise {
  color: black;
  font-size: bold;
}

#valueWind {
  color: black;
  font-size: bold;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;

  margin: -10px;
}

.footer {
  color: grey;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  padding-bottom: 20px;
}
.degrees {
  position: relative;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  top: -30px;
  right: -10px;
}

.days {
  position: relative;
  top: -120px;
  max-width: 100%;
  bottom: 60px;
}
.footer {
  padding: 60px 20px 60px 20px;
}
.active {
  cursor: default;
  color: black;
}

.container {
  text-align: center;
}

#search-text-input {
  border-radius: 5px;
  border: 1px;
  padding: 4px 10px;
}
@media (max-width: 900px) {
  #city-search input[type="text"],
  #city-search input[type="submit"],
  #city-search button.buttonLocation {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .top h1 {
    font-size: 28px;
  }
  .top h2 {
    font-size: 18px;
  }

  .degrees {
    display: flex;
    justify-content: center;
  }

  .topcontainer {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    margin: 0 auto;
    padding: 0px;
  }

  .rowcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colDetails {
    margin-bottom: 0;
  }

  .theme {
    text-align: center;
  }

  #temperature {
    font-size: 3rem;
  }

  .degrees {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  #weatherToday {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feelTemp {
    position: flex;
    left: -0.1px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }

  .card {
    margin-bottom: 10px;
  }

  #icon {
    position: relative;
    top: -200px;
    left: -120px;
  }
  .btn-light {
    font-weight: normal;
  }

  body {
    max-width: 100%;
  }
}
